body {
    background-color: white;
 font-size: 15px;
    color: black;
    font-family: "Roboto";
}

.sekce {
    background-color: white;
    padding: 40px;
    margin: 10px 20px;
    box-shadow:0 0 6px black;

}
h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Indie flower";
}
.sekce img{
    height: 200px;
    float: left;
    margin-right: 20px;
}

.clear {
    clear: both;
}

#hlavicka {
background-image: url(1220102381.jpg);
    background-size: 100% ;
    background-position: center center;
    box-shadow: 20px;
    padding: 50px;
}

#foto {
height: 190px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 35px;
}

#jmeno {
    display: inline-block;
    color: white;
}

.seznam {

}

.polozka {
display: inline-block;
    margin: 10px;
    text-decoration: none;
}

.nazev {
    background-color: black;
    color: green;
    text-align: center;
    padding: 8px;
}
.seznam img {
margin: 0;
}

.vzdelani {
    line-height: 2;
   font-size: 20px;

}
.vzdelani a {
    text-decoration: none;
    color: green;
}
.zajmy {
    line-height: 2;
    font-size: 20px;
}
.zajmy a {
    text-decoration: none;
    color: green;
}
.hry {
    line-height: 2;
    font-size: 20px;
}
.hry a {
    color: green;
    text-decoration: none;
}
.kontakty {
    line-height: 2;
    font-size: 20px;
}
.kontakty a {
    color: green;
    text-decoration: none;
}